# Environment variables
.env
*.env

# SQLite databases & uploads
*.db
*.sqlite
*.sqlite3
uploads/
*.pdf
*.png
*.jpg

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
**/.pytest_cache/
.venv/
env/
venv/
